div#ferramentas{
    background-color: rgba(0, 0, 0, 0.1);
    padding: 1%;
    margin: 2.5%;
    border-style: solid;
    text-align: left;
}

a{
    color: black;
    text-align: right;
}


.remove_box{
    VISIBILITY: HIDDEN;
    width:40%;
    position:absolute;
    top: 30%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    padding: 0 2% 2% 1%;
    border: solid;
    background: white;
    gap: 70px;

}


div#form_inserir{
    width:40%;
    display:none;
    position:absolute;
    top: 40%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    padding: 0 2% 2% 1%;
    border: solid;
    background: white;

}

div#formulario{
    gap: 150px;
    padding-top: 25px;
    padding-bottom: 50px;
    justify-content: center;
    display: flex;

}

.title{
    text-align: center;
}

body{
    background-color: gray;
    width: 700px;
}

.card{
    text-align: center;
    width: 300px;
}

.alinhando{
    display: flex;
    gap: 500px;

}

div#tag{
    display: inline-block;

}

div#botao_remover_t{
    gap: 70px;
}